.demo{
    height: 100px;
    width: 200px;
    background-color: blue;
    margin-bottom: 20px;


}

.container
{
    height: 100px;
    width: 300px;
    background-color: brown;
    /* overfolow hidden */
    margin-bottom: 30px;
}
.container img{
height: 80vh;
width: 70vh;

}
/* hover, transform scale, padding */